{% extends "views/layouts/base.njk" %}

{% block body %}
    <h2 class="has-text-centered is-size-2 mb-5">Add new Reservation</h2>
    {% include "reservation/views/layouts/reservation-form.njk" %}
{% endblock %}
    